tensorflow
pandas 
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
-e .
 
# create env't and install these req'ts to it
  # conda creaye -n cnncls python 3.9 -y
  # conda activate cnncls